html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
}

main{
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 40px;
}

.georgia{
  font-family: Georgia, sans-serif;
}

.encore-sans{
  font-family: "Encore sans";
}

#header-medium{
  height: 38px;
  width: 38px;
}

li{
  display: inline;
  list-style: none;
}

.first-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 200px;
  padding-left: 200px;
  border-bottom: 1px solid black;
}

.second-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 200px;
  padding-left: 200px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 5px 5px -5px grey;
}

.second-row>ul>li, .first-row>ul>li{
  padding-right: 40px;
}

#header-onezero{
  width: 132px;
  height: 40px;
}

.central-column{
  margin-right: 280px;
  margin-left: 280px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 0;
}

.central-column h1{
  font-size: 40px;
  line-height: 150%;
  text-align: justify;
  margin: 0;
}

.central-column h2{
  font-size: 30px;
  margin-top: 0;
}

.rounded-image{
  border-radius:50px;
  height: 75px;
  width: 75px;
}

#under-title{
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  height: 60px;

}

#under-title img{
  display:flex;
  justify-content: center;
  align-self: center;
}

#under-title-text{
  text-align: left;
  margin-right: 15px;
  margin-left: 15px;
}

#under-title-text p{
  margin: 5px;
}

.button-follow{
  margin-left: 15px;
}

#central-image{
  width: 100%;
  padding: 0px;
  margin-left:0px;
}

figure{
  margin-left:0px;
  margin-right: 0px;
  margin-top: 50px;
}
#big-image>figcaption{
  text-align: center;
  padding-top: 10px;
}

.underline{
  text-decoration: underline;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

article{
  font-size: 25px;
}

#big-y{
  color: white;
  background: black;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 100px;
  font-size: 60px;
  float: left;
  margin-right: 15px;
}

blockquote{
  font-size: 35px;
}

.color-purple{
  color: #9079E9;
}
.purple-border{
  border:1px solid;
  border-color: #9079E9;
  padding:10px;
  border-radius: 10px;
}

.little-purple-border{
  border: 1px solid;
  border-color: #9079E9;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}

#first-paragraph{
  padding-top: 0;
  margin-top: 50px;
}

#left-aside{
  position: absolute;
  left: 205px;
  width: 175px;
}


#first-aside{
  padding-bottom: 15px;
  box-shadow: 0 1px 1px -1px grey;
  font-size: 20px;
}

#second-aside{
  padding-top: 15px;
}

#last-list{
  margin-left: -40px;
  display: inline-block;
}

#last-list li{
  background: #0000000d;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
  padding: 10px;
}

#row-under-footer{
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  border-top: 1px solid #0000000d;
  padding-left: 200px;
  padding-right: 200px;
}

#oz-resize{
  width: 75px;
  height: 75px;
}

.duo-article{
  display: flex;
  flex-direction: row;
  flex-basis: 400px;
}

.article-2{
  padding-left: 20px;
}

.duo-article-text{
  justify-content: flex-start;
  align-items: flex-start;
}

.duo-article-text p{
  margin-top: -20px;
  padding-bottom: 10px;
  line-height: 150%;
}

.duo-article div{
  margin-top: -24px;
  padding-left: 10px;

}

#last-row{
  background: #00000005;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
}

.img-footer-resize{
  width: 400px;
  height: 120px;
  margin-top: -50px;
}

#last-row figcaption{
  text-align: left;
  padding-top: 10px;
}

.footer-box{
  box-shadow: 1px 1px 1px -1px grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 70px;
}

.footer-box h3{
  margin-top: -10px;
}

#row-under-footer p{
  font-size: 15px;
}

.follow-bottom{
  padding-top: 30px;
}

.text-grey{
  color: #0000008a;
}

#icones{
  padding-top: 10px;
}
